.interface {
    width: 100%;
}

.home {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1.2fr;
    column-gap: 20px;
    background-color: rgb(240, 242, 245);
    padding: 0px 10px;
    position: relative;
}

/* Tablet */
@media screen and (max-width: 768px) {
    .home {
        grid-template-columns: 1fr;
        padding: 0px 10px;
    }
}

/* Mobile */
@media screen and (max-width: 430px) {
    .home {
        grid-template-columns: 1fr;
        padding: 0px;
        background-color: #f5f5f5; /* consistent light background */
        overflow-x: hidden;
    }
}
