/* ===================== NAVBAR ===================== */
nav {
    width: 100%;
    background-color: #66ccff; /* light blue navbar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
    color: #fff;
}

/* ===================== LOGO ===================== */
.n-logo h1 {
    font-size: 30px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #333333; /* dark grey SocialX */
    transition: transform 0.3s ease, filter 0.3s ease;
}

.n-logo h1:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 5px #3399ff); /* subtle blue shadow */
}

.n-logo span {
    color: #333333; /* dark grey for X */
}

/* ===================== SEARCH ===================== */
.n-form-button {
    width: 50%;
    display: flex;
    align-items: center;
}
.n-form {
    position: relative;
    width: 100%;
    flex: 1;
}
#n-search {
    width: 95%;
    height: 45px;
    outline: none;
    font-size: 19px;
    padding: 5px 45px;
    border-radius: 30px;
    border: none;
    background-color: #e6f2ff; /* very light blue input */
    color: #000;
}
.search-icon {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #3399ff; /* search icon blue */
}

/* ===================== SOCIAL ICONS ===================== */
.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-icons .nav-icons {
    font-size: 30px;
    margin: 0px 20px;
    color: #fff;
    transition: transform 0.3s, color 0.3s;
    cursor: pointer;
}
.social-icons .nav-icons:hover {
    transform: scale(1.2);
    color: #003366; /* dark blue on hover */
}

/* ===================== PROFILE ===================== */
.n-profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0.2;
}
.n-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    object-position: center;
    border: 2px solid #3399ff;
}

/* ===================== NOTIFICATION BADGE ===================== */
#notifi {
    position: relative;
}
#notifi span {
    position: absolute;
    top: 0px;
    left: 50%;
    background-color: #3399ff; /* notification blue */
    color: #fff;
    border-radius: 50px;
    width: 21px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

/* ===================== MARGINS & HOVER ===================== */
.margin {
    margin-right: 30px;
    cursor: pointer;
}
.margin:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

/* ===================== MEDIA QUERIES ===================== */
@media screen and (max-width:1024px){
    nav {
        width: 100vw;
        padding: 15px 0px;
    }
    .n-logo h1 {
        font-size: 24px;
        margin-left: 15px;
    }
    .n-form-button {
        width: 45%;
    }
    .n-img {
        width: 38px;
        height: 38px;
    }
    #n-search {
        width: 100%;
        height: 40px;
        font-size: 22px;
        padding: 5px 10px 5px 45px;
        border-radius: 8px;
    }
    .n-form svg {
        font-size: 30px;
    }
    .social-icons .nav-icons {
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width:768px){
    nav {
        width: 100vw;
        padding: 12px 0px;
    }
    .n-logo h1 {
        font-size: 28px;
        margin-left: 15px;
    }
    .n-img {
        width: 60px;
        height: 60px;
    }
    #n-search {
        width: 100%;
        height: 50px;
        border-radius: 8px;
    }
    .social-icons {
        width: 100vw;
        background-color: #66ccff; /* bottom bar */
        position: fixed;
        bottom: 0px;
        color: #fff;
        display: flex;
        justify-content: space-around;
        padding: 15px 0px;
        align-items: center;
    }
    .social-icons .nav-icons {
        width: 35px;
        height: 35px;
    }
    .openBurger {
        opacity: 1;
        font-size: 40px;
        right: 10px;
        top: 90px;
    }
}

@media screen and (max-width:430px){
    nav {
        width: 100vw;
        padding: 8px 0px;
        gap: 5px;
    }
    .n-logo h1 {
        font-size: 20px;
        width: 110px;
    }
    .n-img {
        width: 40px;
        height: 40px;
    }
    #n-search {
        width: 100%;
        height: 39px;
        border-radius: 5px;
    }
    .social-icons {
        width: 100vw;
        background-color: #66ccff; /* bottom bar */
        position: fixed;
        bottom: 0px;
        display: flex;
        justify-content: space-around;
        padding: 5px 0px;
        align-items: center;
    }
    .social-icons .nav-icons {
        width: 26px;
        height: 26px;
    }
    .openBurger {
        opacity: 1;
        font-size: 30px;
        right: 7px;
        top: 75px;
    }
}
